doctype html
html(ng-app)
   head
      meta(charset="UTF-8")
      link(rel='stylesheet', href='/stylesheets/users.css')
      script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js')
   body
      block content
