body {
    padding: 0;
    margin: 0;
    font: 12px "arial","Lucida Grande", "Calibri", "Arial", sans-serif;
    background: #c0c0c0;
}
form{
    height: 35px;
    background-color: #424242;
}
h1{
    padding: 100px;
    color: #1e90ff;
    text-align:center ;
    font-family: Ethnocentric , "Lucida Grande", "Calibri", "Arial", sans-serif;
    font-size: 140px;
}
input{
    height: 19px;
    border: none;
    margin-top: 7px;
    float: right;
    margin-right: 6px;
    border-radius: 3px;

}
a {
    color: #00B7FF;
}